@model IEnumerable<QuanLyNhanSu.Models.ChucVuNhanVien>

@{
    ViewBag.Title = "Phụ cấp chức vụ";
}

<div class="">
    <div class="">
        <h1 class="page-header">
            Cập nhật phụ cấp
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="@Url.Action("index","Admin")">Tổng quan</a>
            </li>
            <li>
                <i class="fa fa-tasks"></i><a href="@Url.Action("index","QuanLyPhongBan")">Phòng ban</a>
            </li>
            <li>
                Cập nhật phụ cấp
            </li>
        </ol>
    </div>
</div>
<div class="table-responsive">

    <table class="table table-striped table-hover table-bordered ">
        <tr class="success">
            <th>
                Tên chức vụ
            </th>
            <th>
                Hệ số phụ cấp
            </th>
            <th>Thực hiện</th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>

                @using (Html.BeginForm("CapNhatPhuCap", "QuanLyPhongBan", new { @id = item.MaChucVuNV }))
                {
                <td>
                    @Html.DisplayFor(modelItem => item.TenChucVu)
                </td>
                    <td>
                        @*@Html.TextBox("HSPC", item.HSPC, new {Title = "định dạng giá trị vd:0,45", placeholder = "vd: 0,45", })*@
                       
                        <input name="HSPC" value="@item.HSPC" title="định dạng giá trị vd 0,45" placeholder="vd: 0,45" />

                    </td>
                    <td>
                        <input class="btn btn-primary" type="submit" value="Lưu lại" />

                    </td>
                }
            </tr>

        }

    </table>

</div>
