################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuanLyNhanSu/bin
/QuanLyNhanSu/obj/Debug
/packages
